APP_URL=http://localhost:8080

# DB WEBSITE
DB_HOST=
DB_PORT=3306
DB_NAME=filemanager_db
DB_USER=
DB_PASS=

# Samba
SAMBA_HOST=
SAMBA_DOMAIN=PBL205
SAMBA_USER=
SAMBA_PASSWORD=

# AD / WinRM
AD_SYNC_ENABLED=false
AD_HOST=
AD_PORT=5985
AD_SSL=false
AD_AUTH=ntlm
AD_USER=
AD_PASS=
AD_PS_SCRIPT_PATH=C:\PBL-Scripts\Create-AdUserFromWeb.ps1

# Existing AD/Samba structure
PBL_NETBIOS_DOMAIN=PBL205
PBL_FINANCE_MEMBER_GROUP=GG_FINANCE_Member
PBL_FINANCE_ADMIN_GROUP=GG_FINANCE_Admin
PBL_HR_MEMBER_GROUP=GG_HR_Member
PBL_HR_ADMIN_GROUP=GG_HR_Admin
PBL_IT_MEMBER_GROUP=GG_IT_Member
PBL_IT_ADMIN_GROUP=GG_IT_Admin

PBL_FINANCE_SHARE_PATH=
PBL_HR_SHARE_PATH=
PBL_IT_SHARE_PATH=

PBL_SET_MEMBER_FOLDER_ACL=true
PBL_FAIL_ON_ACL_ERROR=true